  
doctype html
html
  head
    title= title
  body
  h1 Anecdoes
  each anc in anecdotes 
    p #{anc.name} 

  form(action="/", method="post") 
    fieldset    
      dl 
        dt 
          label(for="name") Anecode:
        dd 
          input(type="text", name="name" value= name) 

    fieldset 
      input(type="submit", value="Place order") 